
.container {
    text-align:center;
    color: rgb(4, 75, 75);

}

    div#content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: transperent;
}